.freetime-card {
    background-color: plum;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    width: 300px;
    height: auto;
    float: left;
    flex-wrap: nowrap;
}

.freetime-card:hover {
    transform: translateY(-1px);
}

.freetime-content {
    padding: 10px;
}

.freetime-name,
.freetime-category,
.freetime-modus,
button {
    font-size: 1rem;
}

.larger-text {
    font-size: 1.5rem;
}

.smaller-text {
    font-size: 1.2rem;
    color: white;
    font-style: italic;
}

.boton{
    font-size: 1.2rem;
    background-color: #242424;
    border-radius: 60px;
    color: white;
}
.boton2{
    font-size: 1.2rem;
    background-color: chartreuse;
    border-radius: 60px;
    color: black;
}