.active {
    #background-color: #555555;
    background-color: dimgray;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: white;
    position: sticky;
    top: 4.5rem;
    padding: 0 1rem;
    text-align: left;
}

nav .navbar-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul{
    background-color: transparent;
}

nav ul.navbar-items {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;
}

nav ul li a:not(.active):hover {
    border-color: chocolate;
}

.filter-item {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-input {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 100%;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;
}

.filter-category-select {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 100%;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;
}