#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: mediumturquoise;
}




.logo_login_container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo_container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#login_div {
  background-color: #748E8F;
  border-radius: 100%;
  border: none;
}




.login_container {
  font-family: Arial;
  font-weight: inherit;
  font-size: medium;
  color: #748E8F;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

#website_logo {
  width: 50px;
  margin-bottom: 8px;
}
#headline {
  color: white;
}
#login_logo {
  height: auto;
  width: 30px;
  padding: 0.5px;
}
#logout_logo {
  height: auto;
  width: 30px;
  padding: 0.5px;
}
#login_div:hover {
  cursor: pointer;
  background-color: white;
}

#registration_link:hover {
  cursor: pointer;
  color: white;
}

#registration_link {
  text-decoration: none;
  color: #748E8F;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dropdown-content {
  margin-top: 30px;
  display: none;
  position: absolute;
  padding: 10px 10px;
  font-family: Arial;
}

.dropdown-content a {
  padding: 10px 12px;
  display: block;
  color: black;
  border-left: black 2px solid;
}

.dropdown-content a:hover {
  color: orange;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

